﻿@model RentUpWeb.ViewModels.OwnerToAdd

@{

}

<h2>Add Owner</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="AddOwner" asp-controller="Owner" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OwnerEmail" class="control-label"></label>
            <input type="text" asp-for="OwnerEmail" class="form-control" />
            <span asp-validation-for="OwnerEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OwnerName" class="control-label"></label>
            <input type="text" asp-for="OwnerName" class="form-control" />
            <span asp-validation-for="OwnerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OwnerSurname" class="control-label"></label>
            <input type="text" asp-for="OwnerSurname" class="form-control" />
            <span asp-validation-for="OwnerSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OwnerPhone" class="control-label"></label>
            <input type="text" asp-for="OwnerPhone" class="form-control" />
            <span asp-validation-for="OwnerPhone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">City</label><br />
            <select class="form-control"
                    asp-for="CityID" asp-items="ViewBag.Cities"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Type</label><br />
            <select class="form-control"
                    asp-for="OwnerTypeID" asp-items="ViewBag.OwnerTypes"></select>
        </div>
        <div class="form-group">
            <label asp-for="PaymentPercent" class="control-label"></label>
            <input type="number" min="1" max="12" value="1" asp-for="PaymentPercent" class="form-control" />
            <span asp-validation-for="PaymentPercent" class="text-danger"></span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
