﻿@model RentUpWeb.ViewModels.OwnerToEdit

@{

}

<h2>Edit Owner</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="EditOwner" asp-controller="Owner" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OwnerEmail" class="form-control" />
        <div class="form-group">
            <label asp-for="OwnerName" class="control-label"></label>
            <input type="text" asp-for="OwnerName" class="form-control" />
            <span asp-validation-for="OwnerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OwnerSurname" class="control-label"></label>
            <input type="text" asp-for="OwnerSurname" class="form-control" />
            <span asp-validation-for="OwnerSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OwnerPhone" class="control-label"></label>
            <input type="text" asp-for="OwnerPhone" class="form-control" />
            <span asp-validation-for="OwnerPhone" class="text-danger"></span>
        </div> 

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
