﻿@model IEnumerable<RentUpWeb.ViewModels.OwnerToList>

@{

}

<h2 class="text-center">Owners</h2>
<br />
<form class="form-inline" asp-action="Owners" method="get" asp-controller="Owner">
    <div class="col-xs-6">
        <input type="text" name="searchString" class="form-control" placeholder="Search what you want" />
    </div>
    <div class="p-2 bd-highlight">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>
<p>
    @if (Model.Count() > 0)
    {
        <br />
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    City
                </th>
                <th>
                    Type
                </th>
                <th>
                    Percent
                </th>
                <th>
                    Editing
                </th>
                <th>
                    Removing
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerNameSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentPercent)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditOwner", "Owner", new { email = item.OwnerEmail })
                    </td>
                    @if (item.CanBeDeleted)
                    {
                        <td>
                            @Html.ActionLink("Remove", "RemoveOwner", "Owner", new { email = item.OwnerEmail })
                        </td>
                    }
                    else
                    {
                        <td>
                            -
                        </td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <div class="text-center">
            <img src="~/Images/no-search-found.png" class="rounded" alt="No Results">
        </div>
    }

</p>
<p>
    <table class="table">
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</p>
<form asp-action="ManagerMainMenu" asp-controller="Manager" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
<br />
<form asp-action="AddOwner" asp-controller="Owner" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Add owner</button>
            </div>
        </div>
    </div>
</form>
