﻿@{
    var employeeEmail = TempData["RegisteredEmployee"];
    TempData.Keep();
}

<br />
<h2 align="center">Choose your option</h2>
<br />

<hr />
<form asp-action="AllEmployees" method="get" asp-controller="Employee">
    <button type="submit" class="btn btn-success btn-lg btn-block">Employees</button>
</form>

<hr />
<form asp-action="Statistics" method="get" asp-controller="Admin">
    <button type="submit" class="btn btn-success btn-lg btn-block">Statistics</button>
</form>

<hr />
<form asp-action="HelpAdmin" method="get" asp-controller="Home">
    <button type="submit" class="btn btn-success btn-lg btn-block">Help</button>
</form>

