﻿@model RentUpWeb.ViewModels.Statistics


<div class="container">
    <div class="row justify-content-center">
        <h2>Statistics</h2>
    </div>
</div>
<br />
<div class="container">
    <div class="row justify-content-center">
        <h4>Payments</h4>
    </div>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                Sum
            </th>
            <th>
                Date
            </th>
            <th>
                Employee email
            </th>
            <th>
                Contract
            </th>
        </tr>

        @foreach (var item in Model.Payments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeEmail)
                </td>
                @if (item.ContractID != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Contract.Space.SpaceName)
                    </td>
                }
                else
                {
                    <td>
                        -
                    </td>
                }
            </tr>
        }
    </table>
</p>
<br />
<div class="container">
    <div class="row justify-content-center">
        <h4>Contracts</h4>
    </div>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                Contract
            </th>
            <th>
                Client
            </th>
            <th>
                Owner
            </th>
        </tr>

        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>
                    # @Html.DisplayFor(modelItem => item.ContractID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerEmail)
                </td>
            </tr>
        }
    </table>
</p>
<br />
<div class="container">
    <div class="row justify-content-center">
        <h4>Finances</h4>
    </div>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                Total income
            </th>
            <th>
                Total outcome
            </th>
            <th>
                Company balance
            </th>
            <th>
                Profit
            </th>
        </tr>

        <tr>
            <td>
                @Model.TotalIncome
            </td>
            <td>
                @Model.TotalOutcome
            </td>
            <td>
                @Model.CompanyBalance
            </td>
            <td>
                @Model.Profit
            </td>
        </tr>
    </table>
</p>
<br />
<div class="container">
    <div class="row justify-content-center">
        <h4>Employees</h4>
    </div>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                Working employees
            </th>
            <th>
                Fired employees
            </th>
            <th>
                Employees to be fired
            </th>
            <th>
                Retired employees
            </th>
        </tr>

        <tr>
            <td>
                @Model.WorkingEmployees
            </td>
            <td>
                @Model.FiredEmployees
            </td>
            <td>
                @Model.ToBeFiredEmployees
            </td>
            <td>
                @Model.RetiredEmployees
            </td>
        </tr>
    </table>
</p>
<br />
<div class="container">
    <div class="row justify-content-center">
        <h4>Customer segment</h4>
    </div>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                Cities
            </th>
            <th>
                Ownres
            </th>
            <th>
                Clients
            </th>
            <th>
                Spaces
            </th>
        </tr>

        <tr>
            <td>
                @Model.CitiesCount
            </td>
            <td>
                @Model.OwnersCount
            </td>
            <td>
                @Model.ClientsCount
            </td>
            <td>
                @Model.SpacesCount
            </td>
        </tr>
    </table>
</p>
<br />
<form asp-action="AdminMainMenu" asp-controller="Admin" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
