﻿@model IEnumerable<RentUpWeb.ViewModels.ClientToList>

@{
    
}

<h2 class="text-center">Clients</h2>
<br />
<form class="form-inline" asp-action="Clients" method="get" asp-controller="Client">
    <div class="col-xs-6">
        <input type="text" name="searchString" class="form-control" placeholder="Search what you want" />
    </div>
    <div class="p-2 bd-highlight">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>
<p>
    @if (@Model.Count() > 0)
    {
        <br />
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    City
                </th>
                <th>
                    Editing
                </th>
                <th>
                    Removing
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientNameSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditClient", "Client", new { email = item.ClientEmail })
                    </td>
                    @if (item.CanBeDeleted)
                    {
                        <td>
                            @Html.ActionLink("Remove", "RemoveClient", "Client", new { email = item.ClientEmail })
                        </td>
                    }
                    else
                    {
                        <td>
                            -
                        </td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <div class="text-center">
            <img src="~/Images/no-search-found.png" class="rounded" alt="No Results">
        </div>
    }
</p>
<p>
    <table class="table">
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</p>
<form asp-action="ManagerMainMenu" asp-controller="Manager" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
<br />
<form asp-action="AddClient" asp-controller="Client" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                    <button class="btn btn-success">Add client</button>
            </div>
        </div>
    </div>
</form>
