﻿@model RentUpWeb.ViewModels.ClientToEdit

@{

}

<h2>Edit Client</h2>
<br />

<div class="dl-horizontal">
    <form asp-action="EditClient" asp-controller="Client" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClientEmail" class="form-control" />
        <div class="form-group">
            <label asp-for="ClientName" class="control-label"></label>
            <input type="text" asp-for="ClientName" class="form-control" />
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientSurname" class="control-label"></label>
            <input type="text" asp-for="ClientSurname" class="form-control" />
            <span asp-validation-for="ClientSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientPhone" class="control-label"></label>
            <input type="text" asp-for="ClientPhone" class="form-control" />
            <span asp-validation-for="ClientPhone" class="text-danger"></span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
