﻿@model RentUpWeb.ViewModels.EmployeeSignIn

<br />
<h2 align="center">Enter your credentials to start work</h2>
<form method="post" asp-controller="Authentication" asp-action="SignIn">
    <hr />
    <br />
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="EmployeeEmail">Email</label>
        <input asp-for="EmployeeEmail" type="email" class="form-control" aria-describedby="emailHelp">
        <span asp-validation-for="EmployeeEmail" style="color:red"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeePassword">Password</label>
        <input asp-for="EmployeePassword" type="password" class="form-control">
        <span asp-validation-for="EmployeePassword" style="color:red"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-success">Sign In</button>
            </div>
        </div>
    </div>
</form>
