﻿@model IEnumerable<RentUpWeb.ViewModels.EmployeeToList>

@{
    var agentType = RentUpWeb.Constants.EmployeeTypes.AGENT;
    var managerType = RentUpWeb.Constants.EmployeeTypes.MANAGER;
    var workingState = RentUpWeb.Constants.EmployeeStates.WORKING;
}

<h2 class="text-center">All employees</h2>
<br />
<form class="form-inline" asp-action="AllEmployees" method="get" asp-controller="Employee">
    <div class="col-xs-6">
        <input type="text" name="searchString" class="form-control" placeholder="Search what you want" />
    </div>
    <div class="p-2 bd-highlight">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>

<p>
    @if (Model.Count() > 0)
    {
        <br />
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Position
                </th>
                <th>
                    State
                </th>
                <th>
                    Info
                </th>
                <th>
                    Managment
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNameSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeePositionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeStateName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Rate", "Manager", new { email = item.EmployeeEmail })
                    </td>
                    @if (item.EmployeeTypeID == agentType && item.EmployeeStateID == workingState)
                    {
                        <td>
                            @Html.ActionLink("Up to manager", "ChangeEmployeeType", "Employee", new { email = item.EmployeeEmail })
                        </td>
                    }
                    else if (item.EmployeeTypeID == managerType && item.EmployeeStateID == workingState)
                    {
                        <td>
                            @Html.ActionLink("Down to agent", "ChangeEmployeeType", "Employee", new { email = item.EmployeeEmail })
                        </td>
                    }
                    else
                    {
                        <td>
                            -
                        </td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <div class="text-center">
            <img src="~/Images/no-search-found.png" class="rounded" alt="No Results">
        </div>
    }
</p>
<form asp-action="AdminMainMenu" asp-controller="Admin" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
