﻿@model IEnumerable<RentUpWeb.ViewModels.EmployeeToList>

@{
    var agentType = RentUpWeb.Constants.EmployeeTypes.AGENT;
    var adminType = RentUpWeb.Constants.EmployeeTypes.ADMIN;
    var workingState = RentUpWeb.Constants.EmployeeStates.WORKING;
    var toBeFiredState = RentUpWeb.Constants.EmployeeStates.TO_BE_FIRED;
}

<h2>Department employees</h2>
<br />

<p>
    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Position
            </th>
            <th>
                State
            </th>
            <th>
                Info
            </th>
            <th>
                Salary
            </th>
            <th>
                Managment
            </th>
            <th>
                Editing
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNameSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeePositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeStateName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Rate", "Manager", new { email = item.EmployeeEmail })
                </td>
                @if(item.EmployeeStateID == workingState && item.EmployeeTypeID != adminType)
                {
                    <td>
                    @Html.ActionLink("Pay Salary", "PaySalary", "Employee", new { email = item.EmployeeEmail })
                    </td>
                }
                else
                {
                    <td>
                        -
                    </td>
                }
                @if((item.EmployeeStateID == workingState || item.EmployeeStateID == toBeFiredState) && item.EmployeeTypeID == agentType)
                {
                    <td>
                    @Html.ActionLink("Fire", "FireEmployee", "Employee", new { email = item.EmployeeEmail })
                    </td>
                }
                else
                {
                    <td>
                        -
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "EditEmployee", "Employee", new { email = item.EmployeeEmail })
                </td>
            </tr>
        }
    </table>
</p>
<form asp-action="ManagerMainMenu" asp-controller="Manager" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
<br/>
<form asp-action="HireEmployee" asp-controller="Employee" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Hire Employee</button>
            </div>
        </div>
    </div>
</form>
