﻿@model RentUpWeb.ViewModels.EmployeeToEdit

@{

}

<h2>Edit Employee</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="EditEmployee" asp-controller="Employee" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmployeeEmail" class="form-control" />
        <div class="form-group">
            <label asp-for="EmployeeName" class="control-label"></label>
            <input asp-for="EmployeeName" class="form-control" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeSurname" class="control-label"></label>
            <input asp-for="EmployeeSurname" class="form-control" />
            <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
