﻿@model RentUpWeb.ViewModels.EmployeeToHire

@{
    
}

<h2>Hire Employee</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="HireEmployee" asp-controller="Employee" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EmployeeEmail" class="control-label"></label>
            <input asp-for="EmployeeEmail" class="form-control" />
            <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeName" class="control-label"></label>
            <input asp-for="EmployeeName" class="form-control" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeSurname" class="control-label"></label>
            <input asp-for="EmployeeSurname" class="form-control" />
            <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeePercent" class="control-label"></label>
            <input type="number" min="1" max="5" step="1" value="1" asp-for="EmployeePercent" class="form-control" />
            <span asp-validation-for="EmployeePercent" class="text-danger"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Hire" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
