﻿@model RentUpWeb.ViewModels.BuildingToAdd

@{

}

<h2>Add Building</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="AddBuilding" asp-controller="Building" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">City</label><br />
            <select class="form-control"
                    asp-for="CityID" asp-items="ViewBag.Cities"></select>
        </div>
        <div class="form-group">
            <label asp-for="BuildingStreet" class="control-label"></label>
            <input type="text" asp-for="BuildingStreet" class="form-control" />
            <span asp-validation-for="BuildingStreet" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BuildingNumber" class="control-label"></label>
            <input type="number" min="1" max="300" step="1" value="1" asp-for="BuildingNumber" class="form-control" />
            <span asp-validation-for="BuildingNumber" class="text-danger"></span>
        </div>



        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

