﻿@model IEnumerable<RentUpWeb.ViewModels.BuildingToList>

@{

}

<h2>Owners</h2>
<br />

<p>
    <table class="table">
        <tr>
            <th>
                City
            </th>
            <th>
                Street
            </th>
            <th>
                Number
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingNumber)
                </td>
            </tr>
        }
    </table>
</p>
<p>
    <table class="table">
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</p>
<form asp-action="ManagerMainMenu" asp-controller="Manager" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
<br />
<form asp-action="AddBuilding" asp-controller="Building" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Add building</button>
            </div>
        </div>
    </div>
</form>