﻿<div class="container">
    <div class="row justify-content-center">
        <h2>Admin corner</h2>
    </div>
</div>

<h3>Employees</h3>
<p>
   You can view list of employees, promote agent or demote manager.
</p>
<br />
<h3>Statistics</h3>
<p>
    Statistics page is for watching info about last contracts and payment. In bottom of page admin can view 
    count of spaces, employees, clients or owners. Enjoy your work.
</p>
<br />
<form asp-action="AdminMainMenu" asp-controller="Admin" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>