﻿<div class="container">
    <div class="row justify-content-center">
        <h2>RentUp</h2>
        
    </div>
</div>
<br />
<h3>About Us</h3>
<p>
    RentUp is the platform for renting spaces. You can work with us on manager or agent position. After starting work
    like agent you can get promoted to manager. <br />
    Manager`s responsibility: <br />
    - set salary for employees <br />
    - manage owners <br />
    - manage clients <br />
    - manage buildings <br />
    - manage spaces <br />
    Agent`s responsibility: <br />
    - add contracts <br />
    - manage contracts <br />
</p>
