﻿<div class="container">
    <div class="row justify-content-center">
        <h2>Agent corner</h2>
    </div>
</div>

<h3>Start</h3>
<p>
    Hello here!<br />
    You have a chance to work with our team. We hope you will enjoy this time. Please follow our rules and build your
    own career with us.
</p>
<br />
<h3>My rate</h3>
<p>
    Click "My rate" to view your position, count of contracts and sum of money. All contracts will be add to your rating
    after successfull signing.
</p>
<br />
<h3>Contracts</h3>
<p>
    Contracts page helps you watch list of contracts. You can also create new contract, view details about previous work.
</p>
<br />
<form asp-action="AgentMainMenu" asp-controller="Agent" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>