﻿<div class="container">
    <div class="row justify-content-center">
        <h2>Manager corner</h2>
    </div>
</div>

<h3>Start</h3>
<p>
    Hello here!<br />
    You have a chance to work with our team. We hope you will enjoy this time. Please follow our rules and build your
    own career with us.
</p>
<br />
<h3>My rate</h3>
<p>
    Click "My rate" to view your position, count of contracts and sum of money. All contracts will be add to your rating
    after successfull signing.
</p>
<br />
<h3>Employees</h3>
<p>
    Workers list for you. Carefully manage employees from your department. You can pay salary, fire existing employee or
    hire new one. Have changings with your collegues? - Click "Edit" button to edit workers. "Datails" - for viewing info,
    "Pay salary" - to share money with others, "Fire" - if employee do not manage to do they tasks.
</p>
<br />
<h3>Clients</h3>
<p>
    Do we have any clients? - Yes. Clients page helps you to watch info about our customers. You can also edit information
    about them or remove from list but with one condition - there must be no contracts with this client.
</p>
<br />
<h3>Owners</h3>
<p>
    Owners provides space to rent to our clients. Functionality is the same like with clients (edit or remove).
</p>
<br />
<h3>Buildings</h3>
<p>
    It is the central entity that contains spaces. Select city, street and house number to add new building.
</p>
<br />
<h3>Spaces</h3>
<p>
    Don`t forget about spaces. Owners have it and clients rent it. Agents will have a chance to sign new contracts with new 
    spaces.
</p>
<br />
<form asp-action="ManagerMainMenu" asp-controller="Manager" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
