﻿@{
    var employeeEmail = TempData["RegisteredEmployee"];
    TempData.Keep();
    var departmentID = TempData["DepartmentID"];
    TempData.Keep();
}

<br />
<h2 align="center">Choose your option</h2>
<br />

<form asp-action="Rate" method="get" asp-controller="Manager" asp-route-email="@employeeEmail">
    <button type="submit" class="btn btn-success btn-lg btn-block">My rate</button>
</form>

<hr />
<form asp-action="DepartmentEmployees" method="get" asp-controller="Employee" asp-route-id="@departmentID">
    <button type="submit" class="btn btn-success btn-lg btn-block">Employees</button>
</form>

<hr />
<form asp-action="Clients" method="get" asp-controller="Client">
    <button type="submit" class="btn btn-success btn-lg btn-block">Clients</button>
</form>

<hr />
<form asp-action="Owners" method="get" asp-controller="Owner">
    <button type="submit" class="btn btn-success btn-lg btn-block">Owners</button>
</form>

<hr />
<form asp-action="Buildings" method="get" asp-controller="Building">
    <button type="submit" class="btn btn-success btn-lg btn-block">Buildings</button>
</form>

<hr />
<form asp-action="Spaces" method="get" asp-controller="Space">
    <button type="submit" class="btn btn-success btn-lg btn-block">Spaces</button>
</form>

<hr />
<form asp-action="HelpManager" method="get" asp-controller="Home">
    <button type="submit" class="btn btn-success btn-lg btn-block">Help</button>
</form>


