﻿@model IEnumerable<RentUpWeb.ViewModels.ContractToList>

@{ 
    var canCreateContract = true;
    var empState = TempData["EmployeeState"];
    TempData.Keep();
    if ((int)empState == RentUpWeb.Constants.EmployeeStates.TO_BE_FIRED)
        canCreateContract = false;
}

<h2>Your contracts</h2>
<br />

<p>
    <table class="table">
        <tr>
            <th>
                Contract
            </th>
            <th>
                Owner
            </th>
            <th>
                Client
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    # @Html.DisplayFor(modelItem => item.ContractID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientEmail)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Contract", new { id = item.ContractID })
                </td>
            </tr>
        }
    </table>
</p>
<p>
    <table class="table">
        <tr>

        </tr>
        <tr>

        </tr>
    </table>
</p>
<form asp-action="AgentMainMenu" asp-controller="Agent" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
<br />
<form asp-action="CreateContract" asp-controller="Contract" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                @if (canCreateContract)
                {
                    <button class="btn btn-success">Create Contract</button>
                }
                else
                {
                    <button class="btn btn-success" disabled>Create Contract</button>
                }
            </div>
        </div>
    </div>
</form>
