﻿@model RentUpWeb.ViewModels.ContractToCreate

@{
    var employeeEmail = TempData["RegisteredEmployee"];
    TempData.Keep();
}

<h2>Create Contract</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="CreateContract" asp-controller="Contract" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmployeeEmail" value="@employeeEmail" />
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input type="date" asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input type="date" asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Client</label><br />
            <select class="form-control"
                    asp-for="ClientEmail" asp-items="ViewBag.Clients"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Space</label><br />
            <select class="form-control"
                    asp-for="SpaceID" asp-items="ViewBag.Spaces"></select>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
