﻿@model DataLayer.Models.Contract


<h2>Contract</h2>
<br />
<div class="dl-horizontal">
        <form asp-action="ConfirmContract" asp-controller="Contract" method="post">
            <input type="hidden" asp-for="ContractID" />
            <input type="hidden" asp-for="ContractSum" />
            <input type="hidden" asp-for="SignedDate" />
            <input type="hidden" asp-for="StartDate" />
            <input type="hidden" asp-for="EndDate" />
            <input type="hidden" asp-for="TaxSum" />
            <input type="hidden" asp-for="EmployeeEmail" />
            <input type="hidden" asp-for="ContractStateID" />
            <input type="hidden" asp-for="ClientEmail" />
            <input type="hidden" asp-for="SpaceID" />
            <input type="hidden" asp-for="OwnerPayment" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="UpdateDate" />

            <dl class="dl-horizontal">

                <dt>
                    Signed Date
                </dt>
                <dd>
                    @Model.SignedDate.ToShortDateString()
                    <hr />
                </dd>

                <dt>
                    Period
                </dt>
                <dd>
                    @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()
                    <hr />
                </dd>

                <dt>
                    Client
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ClientEmail)
                    <hr />
                </dd>

                <dt>
                    Sum of Contract
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ContractSum)
                    <hr />
                </dd>

                <dt>
                    Sum of Tax
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TaxSum)
                    <hr />
                </dd>

                <dt>
                    Sum of Owner Payment
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerPayment)
                    <br />
                </dd>

            </dl>


            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

            
        </form>
</div>
