﻿@model RentUpWeb.ViewModels.ContractToDetails

@{ 
    var employeeEmail = TempData["RegisteredEmployee"];
    TempData.Keep();
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Contract # @Html.DisplayFor(model => model.ContractID)</h2>
        </div>
    </div>
</div>
<br />

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ContractState)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContractState)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SignedDate)
    </dt>
    <dd>
        @Model.SignedDate.ToShortDateString()
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Period)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Period)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SpaceName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SpaceName)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SpaceTypeName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SpaceTypeName)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientEmail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ClientEmail)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OwnerEmail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OwnerEmail)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ContractSum)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContractSum)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OwnerPayment)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OwnerPayment)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TaxSum)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TaxSum)
    </dd>

</dl>
<br />
<form asp-action="AgentContracts" method="get" asp-controller="Contract" asp-route-email="@employeeEmail">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Contracts</button>
            </div>
        </div>
    </div>
</form>
