﻿@{
    var employeeEmail = TempData["RegisteredEmployee"];
    TempData.Keep();
}

<br />
<h2 align="center">Choose your option</h2>
<br />

<form asp-action="Rate" method="get" asp-controller="Agent" asp-route-email="@employeeEmail">
    <button type="submit" class="btn btn-success btn-lg btn-block">My rate</button>
</form>

<hr />
<form asp-action="AgentContracts" method="get" asp-controller="Contract" asp-route-email="@employeeEmail">
    <button type="submit" class="btn btn-success btn-lg btn-block">Contracts</button>
</form>

<hr />
<form asp-action="HelpAgent" method="get" asp-controller="Home">
    <button type="submit" class="btn btn-success btn-lg btn-block">Help</button>
</form>
