﻿@model RentUpWeb.ViewModels.EmployeeRate

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.EmployeeEmail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EmployeeEmail)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EmployeeName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EmployeeName)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EmployeeSurname)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EmployeeSurname)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EmployeeTypeName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EmployeeTypeName)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DepartmentEmail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DepartmentEmail)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ContractPercent)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContractPercent)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ContractNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContractNumber)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ContractSum)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ContractSum)
        <br />
    </dd>
</dl>
<br />
<form asp-action="AgentMainMenu" asp-controller="Agent" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>

