﻿@model RentUpWeb.ViewModels.SpaceToAdd

@{

}

<h2>Add Space</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="AddSpace" asp-controller="Space" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SpaceName" class="control-label"></label>
            <input type="text" asp-for="SpaceName" class="form-control" />
            <span asp-validation-for="SpaceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FloorNumber" class="control-label"></label>
            <input type="number" min="1" max="30" value="1" asp-for="FloorNumber" class="form-control" />
            <span asp-validation-for="FloorNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RoomNumber" class="control-label"></label>
            <input type="number" min="1" max="500" value="1" asp-for="RoomNumber" class="form-control" />
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Square" class="control-label"></label>
            <input type="number" min="1" max="500" value="1" asp-for="Square" class="form-control" />
            <span asp-validation-for="Square" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RentalDays" class="control-label"></label>
            <input type="number" min="1" max="90" value="1" asp-for="RentalDays" class="form-control" />
            <span asp-validation-for="RentalDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input type="number" min="1" max="1000000" value="1" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Owner</label><br />
            <select class="form-control"
                    asp-for="OwnerEmail" asp-items="ViewBag.Owners"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Type</label><br />
            <select class="form-control"
                    asp-for="SpaceTypeID" asp-items="ViewBag.SpaceTypes"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Building</label><br />
            <select class="form-control"
                    asp-for="BuildingID" asp-items="ViewBag.Buildings"></select>
        </div>


        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
