﻿@model RentUpWeb.ViewModels.SpaceToDetails


<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Space "@Html.DisplayFor(model => model.SpaceName)"</h2>
        </div>
    </div>
</div>
<br />

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FloorNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FloorNumber)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RoomNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RoomNumber)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Square)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Square)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RentalDays)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RentalDays)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SpaceTypeName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SpaceTypeName)
        <hr />
    </dd>
</dl>
<div class="container">
    <div class="row justify-content-center">
        <h4>Owner</h4>
    </div>
</div>
<br />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.OwnerEmail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OwnerEmail)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NameSurname)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.NameSurname)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OwnerPhone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OwnerPhone)
        <hr />
    </dd>
</dl>
<div class="container">
    <div class="row justify-content-center">
        <h4>Building</h4>
    </div>
</div>
<br />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.City)
        <hr />
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
        <hr />
    </dd>
</dl>
<br />
<form asp-action="Spaces" method="get" asp-controller="Space">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Spaces</button>
            </div>
        </div>
    </div>
</form>
