﻿@model RentUpWeb.ViewModels.SpaceToEdit

<h2>Edit Space</h2>
<br />


<div class="dl-horizontal">
    <form asp-action="EditSpace" asp-controller="Space" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SpaceID" class="form-control" />
        <div class="form-group">
            <label asp-for="SpaceName" class="control-label"></label>
            <input type="text" asp-for="SpaceName" class="form-control" />
            <span asp-validation-for="SpaceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input type="number" min="1" max="1000000" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RentalDays" class="control-label"></label>
            <input type="number" min="1" max="90" asp-for="RentalDays" class="form-control" />
            <span asp-validation-for="RentalDays" class="text-danger"></span>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
