﻿@model IEnumerable<RentUpWeb.ViewModels.SpaceToList>

@{

}

<h2>Spaces</h2>
<br />

<p>
    <table class="table">
        <tr>
            <th>
                Space
            </th>
            <th>
                City
            </th>
            <th>
                Owner
            </th>
            <th>
                Info
            </th>
            <th>
                Editing
            </th>
            <th>
                Removing
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerEmail)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Space", new { id = item.SpaceID })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSpace", "Space", new { id = item.SpaceID })
                </td>
                @if(item.CanBeDeleted)
                {
                    <td>
                    @Html.ActionLink("Remove", "RemoveSpace", "Space", new { id = item.SpaceID })
                </td>
                }
                else
                { 
                    <td>
                        -
                    </td>
                }
            </tr>
        }
    </table>
</p>
<p>
    <table class="table">
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</p>
<form asp-action="ManagerMainMenu" asp-controller="Manager" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Back to Menu</button>
            </div>
        </div>
    </div>
</form>
<br />
<form asp-action="AddSpace" asp-controller="Space" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">Add space</button>
            </div>
        </div>
    </div>
</form>
